.env
secrets.conf
printer_data/config/K-ShakeTune/*
printer_data/config/K-ShakeTune_results/belts
printer_data/config/K-ShakeTune_results/inputshaper
printer_data/config/K-ShakeTune_results/vibrations
