#####################################################################
# 	Overwrite Macros
#####################################################################

[gcode_macro PAUSE]
rename_existing: _BASE_PAUSE
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    _BASE_PAUSE
    G91
    G1 E-1 F2100
    G1 Z30
    G90
    G1 X125 Y0 F6000
    
[gcode_macro RESUME]
rename_existing: _BASE_RESUME
gcode:
    G91
    G1 E1 F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    _BASE_RESUME
    
[gcode_macro CANCEL_PRINT]
rename_existing: _BASE_CANCEL_PRINT
gcode:
    SET_FAN_SPEED FAN=part_cooling SPEED=0
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    _BASE_CANCEL_PRINT
    MOVE_END_SAFE
 
