#####################################################################
# 	X/Y Stepper Settings
#####################################################################

[stepper_x]
## back right - stepper 6
enable_pin: !PD4
step_pin: PE2
dir_pin: !PE3

rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200

endstop_pin: tmc5160_stepper_x:virtual_endstop

position_min: 0
position_max: 250

homing_speed: 150   #Max 100
homing_retract_dist: 0
homing_positive_dir: true
position_endstop: 250

[tmc5160 stepper_x]
interpolate: false
run_current: 2.7
home_current: 1.0
sense_resistor: 0.075

cs_pin: PE1
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
spi_software_sclk_pin: PA5

diag1_pin: ^!PG14 # use the same pin that was previously the endstop_pin!

driver_TBL: 0
driver_TOFF: 4
driver_HSTRT: 3
driver_HEND: 9
driver_TPFD: 1


[stepper_x1]
## front left - stepper 4
enable_pin: !PG2
step_pin: PF9
dir_pin: !PF10

rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200

endstop_pin: tmc5160_stepper_x:virtual_endstop

[tmc5160 stepper_x1]
interpolate: false
run_current: 2.7
home_current: 1.0
sense_resistor: 0.075

cs_pin: PF2
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
spi_software_sclk_pin: PA5

diag1_pin: ^!PG12 # use the same pin that was previously the endstop_pin!

driver_TBL: 0
driver_TOFF: 4
driver_HSTRT: 3
driver_HEND: 9
driver_TPFD: 1


[stepper_y]
## back left - stepper 5
enable_pin: !PF1
step_pin: PC13
dir_pin: !PF0

rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200

endstop_pin: tmc5160_stepper_y:virtual_endstop
position_endstop: 0

position_min: 0
position_max: 240

homing_speed: 150  #Max 100
homing_retract_dist: 0
homing_positive_dir: false

[tmc5160 stepper_y]
interpolate: false
run_current: 2.7
home_current: 1.0
sense_resistor: 0.075

cs_pin: PE4
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
spi_software_sclk_pin: PA5

diag1_pin: ^!PG13     # use the same pin that was previously the endstop_pin!

driver_TBL: 0
driver_TOFF: 4
driver_HSTRT: 3
driver_HEND: 9
driver_TPFD: 1


[stepper_y1]
## front right - stepper 7
enable_pin: !PE0
step_pin: PE6
dir_pin: !PA14

rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200

endstop_pin: tmc5160_stepper_y:virtual_endstop

[tmc5160 stepper_y1]
interpolate: false
run_current: 2.7
home_current: 1.0
sense_resistor: 0.075

cs_pin: PD3
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
spi_software_sclk_pin: PA5

diag1_pin: ^!PG15     # use the same pin that was previously the endstop_pin!

driver_TBL: 0
driver_TOFF: 4
driver_HSTRT: 3
driver_HEND: 9
driver_TPFD: 1
