#####################################################################
# Gantry / Bed Mesh Adjustment Routines
#####################################################################

[quad_gantry_level]
#gantry_corners:
#	-60,-10
#	310, 320
#	Probe points
#points:
#  20,0	
#  20,192
#  230,192
#  230,0

gantry_corners:
   -60,-10
   310, 320
##  Probe points
points:
   50,25
   50,175
   200,175
   200,25
	
speed: 500
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.008
max_adjust: 10

[bed_mesh]
speed: 600
mesh_min: 20, 20
mesh_max: 230,210
probe_count: 15,15
algorithm: bicubic