#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - Z board, Fan Pin
heater_pin: Z:PD7
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: Z:PA1
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.5
min_temp: 0
max_temp: 150
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[heater_generic chamber]
gcode_id: 500
#   The id to use when reporting the temperature in the M105 command.
#   This parameter must be provided.
heater_pin: Z:PB3
max_power: 0.75
sensor_type: EPCOS 100K B57560G104F
sensor_pin: Z:PA2
control: watermark
max_delta: 1.0
min_temp: 0
max_temp: 90

[verify_heater chamber]
max_error: 10000
check_gain_time: 40000

[thermistor NTC10K] #http://docs.ldomotors.com/en/guides/klipper-thermistor
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor Water]
sensor_type: NTC10K
sensor_pin: PF3

[temperature_sensor X0]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF4
max_temp: 160

[temperature_sensor X1]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF5
max_temp: 160

[temperature_sensor Y0]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF6
max_temp: 160

[temperature_sensor Y1]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF7
max_temp: 160

[multi_pin radiators]
pins: PD13, PD14

[temperature_fan Radiator]
pin: multi_pin:radiators                                                      # the fan control pin (must be a mosfet or a pwm fan)
control: watermark                                                # the type of hysteresis we are using
max_delta: 3.0      
sensor_type: temperature_combined
sensor_list: temperature_sensor Water
combination_method: max
maximum_deviation: 999

min_temp: 0
max_temp: 200
target_temp: 30
min_speed: 1.0

[temperature_fan Pump]
pin: !PE5                                                      # the fan control pin (must be a mosfet or a pwm fan)
control: watermark                                                # the type of hysteresis we are using
max_delta: 3.0      

sensor_type: temperature_combined
sensor_list: temperature_sensor X0, temperature_sensor X1, temperature_sensor Y0, temperature_sensor Y1
combination_method: max
maximum_deviation: 999

min_temp: 0
max_temp: 200
target_temp: 30
min_speed: 0.5
max_speed: 0.5
hardware_pwm: true

#####################################################################
# 	Fan Control
#####################################################################
[heater_fan heater_fans]
pin: !Z:PB7
hardware_pwm: true
cycle_time: 0.00005
fan_speed: 0.65
heater: chamber
heater_temp: 50.0

[heater_fan controller_fan]
##	Controller fan - Z board, HE1 Connector
pin: PD12
kick_start_time: 0.5
heater: extruder
heater_temp: 170.0
