
#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
pin: PB0
pwm: 1
value: 0.5
cycle_time: 0.005
hardware_pwm: True

[output_pin caselight2]
pin: PA3
pwm: 1
value: 0.5
cycle_time: 0.005
hardware_pwm: True