 ## BOARD PINS

[fan]
pin: !PA8
#enable_pin: !PE5

##  Print Cooling Fan
# Add here all the normal config options previously in the [fan] section
#
# heater: extruder
# heater_temp: 50.0
# fan_speed: 0.05

#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".

#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled.

min_power: 0.14
initial_speed: 0.05
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled.

#[gcode_macro M106]
##rename_existing: M106.1
#gcode:
#    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
#    SET_FAN_SPEED FAN=part_cooling SPEED={speed}

#[gcode_macro M107]
##rename_existing: M107.1
#gcode:
#    SET_FAN_SPEED FAN=part_cooling SPEED=0


## EXTRUDER 
[extruder]
enable_pin: !PF14
step_pin: PF13
dir_pin: PF12
max_extrude_cross_section: 6

microsteps: 16
nozzle_diameter: 0.5                   #define nozzle diameter
filament_diameter: 1.750

gear_ratio: 37:1
rotation_distance: 53.487984 ;53.77317437 ;55.032314
full_steps_per_rotation: 200
pwm_cycle_time: 0.01
smooth_time: 2
pressure_advance: 0.006 ; asa+
pressure_advance_smooth_time: 0.02
max_extrude_only_distance: 500
max_extrude_only_velocity: 100
max_extrude_only_accel: 1000 
instantaneous_corner_velocity: 1
min_extrude_temp: 20

heater_pin: PA1

#sensor_pin: PF3
#sensor_type: SliceEngineering 450

sensor_type: MAX31865
sensor_pin: PF8
spi_speed: 4000000
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
rtd_nominal_r: 1000     # Set to 1000 for a PT1000 sensor
rtd_reference_r: 4300   # Set to 4300 for a PT1000 sensor
rtd_num_of_wires: 2     # Or 3, depending on your sensor and wiring
rtd_use_50Hz_filter: True

#rtd_num_of_wires: 2
#rtd_nominal_r: 1000
#rtd_reference_r: 4300
#sensor_type: SliceEngineering 450
#sensor_type: ATC Semitec 104GT-2  # this is the default for the Revo heater
#pullup_resistor: 2200            # 4700 is default and does not need defining, 2200 is used for the PT1000             

min_temp: -50
max_temp: 500

[verify_heater extruder]
max_error: 1000
check_gain_time: 4000

[autotune_tmc extruder] # if you have autotune
#motor: ldo-36sth17-0354ahg
motor: ldo-36sth20-1004ahg
tuning_goal: performance
voltage: 48

## EXTRUDER MOTOR
[tmc5160 extruder]
cs_pin: PC4

interpolate: False # Current Klipper standard is to disabled this
run_current: 1.0 # Set to your motor current
sense_resistor: 0.075 # Set to your Stepstick value
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
spi_software_sclk_pin: PA5
diag1_pin: ^!PG6 # use the same pin that was previously the endstop_pin!
stealthchop_threshold: 0

